body {
	background: slategrey;
}

h1 {
	text-align: center;
}

.card {
	border: 1px solid black;
	text-align: center;
	margin: 2%;
}

.navbar {
	background-color: brown;
}

.firstStyle {
	border-width: 5px;
	background-color: lightblue;
}

.red {
	background-color: #e0816d;
	border-width: 10px;
}
