body {
	background: slategrey;
}

h1 {
	text-align: center;
}

article {
	border: 1px solid black;
	text-align: center;
	margin: 10%;
}

.navbar {
	background-color: brown;
}

.textBox {
}

.carCards {
	display: inline-block;
	max-width: 30%;
}

.firstStyle {
	border-width: 5px;
	background-color: lightgreen;
}
